In [11]:
import pandas as pd

# Assuming df is your DataFrame after reading from the initial CSV
df_choice = pd.read_csv(r'C:\Users\student\Desktop\JOSAA\data\Round1-20240508T102918Z-001\Round1\Choice.csv')

# Slice the DataFrame to keep only the top 10,000 rows
df_top10k = df[:10000]

# Save the top 10,000 rows to a new CSV file
df_top10k.to_csv(r'C:\Users\student\Desktop\JOSAA\data\Round1-20240508T102918Z-001\Round1\Choice_trial.csv', index=False)

In [10]:
df = df[:10000]
df.to_csv(r'C:\Users\student\Desktop\JOSAA\data\Round1-20240508T102918Z-001\Round1\Choice_trial.csv', sep=';')

In [12]:
df_candidate = pd.read_csv(r'C:\Users\student\Desktop\JOSAA\data\Round1-20240508T102918Z-001\Round1\Candidate.csv')
df_Choice_trial = pd.read_csv(r'C:\Users\student\Desktop\JOSAA\data\Round1-20240508T102918Z-001\Round1\Choice_trial.csv')
df_institute = pd.read_csv(r'C:\Users\student\Desktop\JOSAA\data\Round1-20240508T102918Z-001\Round1\Institute.csv') 
df_seats = pd.read_csv(r'C:\Users\student\Desktop\JOSAA\data\Round1-20240508T102918Z-001\Round1\Seats.csv')

In [14]:


print("df_Choice_trial:")
print(df_Choice_trial)

df_Choice_trial:
            RollNo  InstCode Brcode  ChoiceNo  Validity InstType InstQuota  \
0     230310481885       102   4110         1       NaN      IIT        AI
1     230310127660       102   4110         1       NaN      IIT        AI
2     230310127660       110   4110         2       NaN      IIT        AI
3     230310127660       104   4110         3       NaN      IIT        AI
4     230310127660       106   4110         4       NaN      IIT        AI
...            ...       ...    ...       ...       ...      ...       ...
9995  230310040778       107   4185        43       NaN      IIT        AI
9996  230310040778       107   4124        44       NaN      IIT        AI
9997  230310040778       107   4110        45       NaN      IIT        AI
9998  230310040778       113   4114        46       NaN      IIT        AI
9999  230310040778       102   4111        47       NaN      IIT        AI

      Stream
0          3
1          3
2          3
3          3
4          3
...      ...
9995       3
9996       3
9997       3
9998       3
9999       3

[10000 rows x 8 columns]

In [16]:
print("df_candidate:")
print(df_candidate)

df_candidate:
              RollNo StateCode Gender Cat SubCat  Nationality  \
0       230310481885        TL      B  OP     NO            1
1       230310127660        TL      B  OP     NO            1
2       230310141436        UP      B  OP     NO            1
3       230310400307        HR      B  OP     NO            1
4       230310109987        AP      B  OP     NO            1
...              ...       ...    ...  ..    ...          ...
192765  230320333795        NL      B  ST     NO            1
192766  230320333819        AS      B  OP     NO            1
192767  230320336403        MH      F  SC     NO            1
192768  230320337401        KL      B  OP     NO            1
192769  230320338182        TN      F  BC     NO            1

        AI_Eng_CRL_Rank  AI_Eng_OBC_NCL_Rank  AI_Eng_SC_Rank  AI_Eng_ST_Rank  \
0                  15.0                  NaN             NaN             NaN
1                  28.0                  NaN             NaN             NaN
2                  19.0                  NaN             NaN             NaN
3                  20.0                  NaN             NaN             NaN
4                  95.0                  NaN             NaN             NaN
...                 ...                  ...             ...             ...
192765              NaN                  NaN             NaN             NaN
192766              NaN                  NaN             NaN             NaN
192767              NaN                  NaN             NaN             NaN
192768              NaN                  NaN             NaN             NaN
192769              NaN                  NaN             NaN             NaN

        ...  Adv_Prep_SC_Rank  Adv_Prep_ST_Rank  Adv_Prep_CRL_PD_Rank  \
0       ...               NaN               NaN                   NaN
1       ...               NaN               NaN                   NaN
2       ...               NaN               NaN                   NaN
3       ...               NaN               NaN                   NaN
4       ...               NaN               NaN                   NaN
...     ...               ...               ...                   ...
192765  ...               NaN               NaN                   NaN
192766  ...               NaN               NaN                   NaN
192767  ...               NaN               NaN                   NaN
192768  ...               NaN               NaN                   NaN
192769  ...               NaN               NaN                   NaN

        Adv_Prep_OBC_NCL_PD_Rank  Adv_Prep_SC_PD_Rank  Adv_Prep_ST_PD_Rank  \
0                            NaN                  NaN                  NaN
1                            NaN                  NaN                  NaN
2                            NaN                  NaN                  NaN
3                            NaN                  NaN                  NaN
4                            NaN                  NaN                  NaN
...                          ...                  ...                  ...
192765                       NaN                  NaN                  NaN
192766                       NaN                  NaN                  NaN
192767                       NaN                  NaN                  NaN
192768                       NaN                  NaN                  NaN
192769                       NaN                  NaN                  NaN

        Adv_Prep_EWS_PD_Rank  Adv_IsPrep  Adv_DS  Maxchoice
0                        NaN         2.0     2.0          1
1                        NaN         2.0     2.0          6
2                        NaN         2.0     2.0          4
3                        NaN         2.0     2.0          4
4                        NaN         2.0     2.0          3
...                      ...         ...     ...        ...
192765                   NaN         NaN     NaN         15
192766                   NaN         NaN     NaN          4
192767                   NaN         NaN     NaN         16
192768                   NaN         NaN     NaN         18
192769                   NaN         NaN     NaN         13

[192770 rows x 56 columns]

In [17]:
print("df_institute:")
print(df_institute)

df_institute:
     InstCode InstType InstQuota
0         101      IIT        AI
1         102      IIT        AI
2         103      IIT        AI
3         104      IIT        AI
4         105      IIT        AI
..        ...      ...       ...
114       438      CFI        AI
115       439      CFI        AI
116       440      CFI        AH
117       441      CFI        AH
118       442      CFI        AI

[119 rows x 3 columns]

In [18]:
print("df_seats:")
print(df_seats)

df_seats:
      Quota  InstCode Brcode Cat SubCat Gender Stcode1 Stcode2 Stcode3  \
0        AI       101   4109  BC     NO      B     NaN     NaN     NaN
1        AI       101   4109  BC     NO      F     NaN     NaN     NaN
2        AI       101   4109  BC     PH      B     NaN     NaN     NaN
3        AI       101   4109  BC     PH      F     NaN     NaN     NaN
4        AI       101   4109  EW     NO      B     NaN     NaN     NaN
...     ...       ...    ...  ..    ...    ...     ...     ...     ...
23915    OS       427   4164  SC     PH      F      AR      AS      MG
23916    OS       427   4164  ST     NO      B      AR      AS      MG
23917    OS       427   4164  ST     NO      F      AR      AS      MG
23918    OS       427   4164  ST     PH      B      AR      AS      MG
23919    OS       427   4164  ST     PH      F      AR      AS      MG

      Stcode4 Stcode5 Stcode6 Stcode7 Stcode8  Stcode9  Stcode10  TotalSeat
0         NaN     NaN     NaN     NaN     NaN      NaN       NaN         14
1         NaN     NaN     NaN     NaN     NaN      NaN       NaN          4
2         NaN     NaN     NaN     NaN     NaN      NaN       NaN          1
3         NaN     NaN     NaN     NaN     NaN      NaN       NaN          0
4         NaN     NaN     NaN     NaN     NaN      NaN       NaN          5
...       ...     ...     ...     ...     ...      ...       ...        ...
23915      MN      MZ      NL      SK      TR      NaN       NaN          0
23916      MN      MZ      NL      SK      TR      NaN       NaN          1
23917      MN      MZ      NL      SK      TR      NaN       NaN          0
23918      MN      MZ      NL      SK      TR      NaN       NaN          0
23919      MN      MZ      NL      SK      TR      NaN       NaN          0

[23920 rows x 17 columns]